html {
    background: #A6ADAF;
}
#titleSpaner {
    margin: 0px auto;
    text-shadow: -10px -5px 31px #211b21;
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
}

/***Divs COntain all***/
/**********************/

.container {
    margin: 0px auto;
    background: white;
    width: 80%;
    padding: 11px;
    border-radius: 15px;
}
.resTtitle {
    text-align: justify;
    display: inline-block;
    font-size: 20px;
    width: 25%;
    font-family: monospace;
    font-style: italic;
}
.insideGrid {
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    padding: 20px;
}
.inputSectionsItems{
  display: inline-block;
  background: rgba(70, 67, 67, 0.1);
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 14px;
}

/**********Buttons and Inputs*******/
/**********************************/
#DeleteLittle{
  display: inline-block;
  background: #F5AE29;
  color: #E8E8E8;
  border: 1px solid #B5AFA3;
  border-radius: 13px;
  font-size: 15px;
  width: 30px;
  padding: 9px 9px 9px 9px;
  box-shadow: -1px 1px 9px #EBDFDF;
  -webkit-box-shadow: -1px 1px 9px #EBDFDF;
  -moz-box-shadow: -1px 1px 9px #EBDFDF;
  cursor: pointer;
  font-family: 'Gotham A', Gotham B, Verdana;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
}

button {
    display: inline-block;
    background: #F5AE29;
    color: #E8E8E8;
    border: 1px solid #B5AFA3;
    border-radius: 13px;
    font-size: 15px;
    width: 200px;
    padding: 9px 9px 9px 9px;
    box-shadow: -1px 1px 9px #EBDFDF;
    -webkit-box-shadow: -1px 1px 9px #EBDFDF;
    -moz-box-shadow: -1px 1px 9px #EBDFDF;
    cursor: pointer;
    font-family: 'Gotham A', Gotham B, Verdana;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
}
input {
    border-color: #cccccc;
    font-size: 19px;
    padding: 8px;
    border-width: 4px;
    border-radius: 11px;
    border-style: solid;
    box-shadow: -3px -1px 7px 0px rgba(42, 42, 42, .72);
    text-shadow: 2px 1px 1px rgba(42, 42, 42, .75);
    font-weight: normal;
    font-style: italic;
    font-family: cursive;
    color: #1c7ec9;
    margin: 10px;
}
